.app-header {
    padding: 4px 4px;
    height: 40px;
    color: $darktxt;
    background-color: rgba(0, 0, 0, 0.205);
    width: 100vw;
    &.open {
        transform: translateX(0%);
    }
    ul {
        position: absolute;
        top: 10vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    span {
        font-size: rem(24px);
        vertical-align: middle;
        display: flex;
        align-items: center;
    }
}

.boards-icon {
    font-weight: bold;
    //   margin-left: rem(1px);
    font-size: 14px;
}

.logo-img {
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    &:hover {
        opacity: 0.8;
    }
}

.login-btn,
.signup-btn {
    color: $lighttxt;
    background-color: #30aa00;
    font-weight: 500;
    font-size: rem(17.5px);
    line-height: 1.5;
    border-radius: 0.2rem;
    white-space: nowrap;
    user-select: none;
    padding: rem(4px) rem(8px);
}

.login-btn {
    background-color: transparent;
    color: #30aa00;
    transition: text-decoration 0.15s ease-in-out;
    &:hover {
        text-decoration: underline;
    }
}

.signup-btn {
    transition: background-color 0.15s ease-in-out;
    &:hover {
        background-color: #2d9105;
    }
}