.card-details-modal {
    width: 272px;
    height: 100%;
    background-color: #ebecf0;
    border-radius: 3px;
    border: none;
    border-radius: 3px;
    padding: 7px;
    margin: 0 4px;
}

// <div className="card-details-title">