.card-list {
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    border: none;
    border-radius: 3px;
    padding: 7px;
    margin: 0 4px;
    flex-grow: 0;
    flex-shrink: 0;
    .group-header {
        font-weight: 600;
        cursor: pointer;
    }
    .list-header-extras {
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: middle;
        height: 20px;
        &:hover {
            background: $trnsprnt;
        }
    }
}