.card-list {
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    border: none;
    border-radius: 3px;
    padding: 0px 7px;
    margin: 0 4px;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    flex:1;
    
    .group-header {
        font-weight: 600;
        cursor: pointer;
    }
    .list-header-extras {
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
        vertical-align: middle;
        // height: 25px;
        &:hover {
            background: $trnsprnt;
        }
    }
 
}

.cards-content-wrapper {
    margin: 0 4px;
    padding: 0 4px;
    z-index: 0;
    min-height: 0;
    white-space: normal;
}