.group-list {
    // background-color: rgba(255, 255, 255, 0.582);
    overflow-x: scroll;
    height: 100%;
    align-items: flex-start;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.add-new-group-text {
    white-space: nowrap;
}

.new-item-btn {
    button {
        background-color: transparent;
    }
}