.review-add {
    
    > * {
        margin-bottom: em(16px);
    }

    .user-details {
        .avatar {
            margin-inline-end: em(16px);
            background-color: $clr1;
        }

        span {
            font-family: Poppins-Regular;
            font-weight: bolder;
            text-align: start;
            color: $clr3;
        }

        p {
            font-size: em(16px);
            color: $clr5;
        }
    }

    form{
        width: 300px;
        >*:not(:last-child){
            margin-bottom: em(16px);
        }
    }

    @include for-wide-layout {
        form{
            width: 500px;
            >*:not(:last-child){
                margin-bottom: em(16px);
            }
        }
    }
}
