
    .screen-overlay {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(22, 22, 22, 0.665);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
        transition: opacity .5s;

        &.show {
            pointer-events: auto;
            opacity: 1;
        }

        @include for-wide-layout{
            display: none;
        }
    }