.toy-preview {
    position: relative;
    box-shadow: $boxShadow1;
    padding: em(32px);
    border-radius: rem(16px);
    overflow: hidden;

    > *:not(.primary-btn) {
        margin-bottom: em(10px);
        color: $clr3;
    }

    .toy-type {
        color: $clr5;
        font-size: em(14px);
    }

    .toy-name,
    .toy-price {
        font-size: em(20px);
    }

    .sold-out {
        font-family: Poppins-Regular;
        position: absolute;
        right: em(-48px);
        top: 2em;
        text-align: center;
        text-transform: uppercase;
        background-color: $clr6;
        padding: 0.2em;
        transform: rotateZ(45deg);
        width: 215px;
    }

    img {
        @include aspect-ratio(1, 1);
    }

    .admin-actions {
        opacity: 0;
        display: flex;
        width: 100%;
        align-items: center;
        position: absolute;
        top: em(16px);
        left: em(16px);
        transition: opacity 0.3s;
        > *:not(:last-child) {
            margin-inline-end: em(16px);
        }
    }

    &:hover .admin-actions {
        opacity: 1;
    }
}
