.toys-charts {
    flex-direction: column;
    text-align: center;
    color: $clr3;

    > * {
        width: 330px;
    }

    > *:not(:last-child) {
        margin-bottom: em(32px);
    }

    span {
        font-size: em(20px);
    }

    @include for-wide-layout {
        flex-direction: unset;

        > * {
            width: 400px;
        }

        > *:not(:last-child) {
            margin-inline-end: em(32px);
            margin-bottom: unset;
        }
    }
}
