.toy-filter {
    flex-direction: column;
    & > *:not(:last-child) {
        margin-bottom: em(18px);
    }
    
    @include for-wide-layout {
        flex-direction: unset;
        & > *:not(:last-child) {
            margin-inline-end: em(18px);
        }
    }
}
