* {
    box-sizing: border-box;
}

html {
    font-family: Poppins-Light;
    font-size: rem(18px);
    color: $clr2;
    line-height: 1.6;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins-Regular;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
}

a {
    color: $clr3;
    outline: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}