.primary-btn {
    font-family: Poppins-Regular;
    font-size: em(16px);
    padding: em(6px) em(15px);
    background-color: $clr2;
    border-radius: rem(25px);
    transition: color .3s;
    &:hover {
        color: $clr5;
    }
    &:active {
        color: $clr5;
    }
}