::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(9,30,66,.08);
}

::-webkit-scrollbar-button {
    width: 14px;
    height: 14px;
    display: none;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border: 3px none rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border: 3px none transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-track:active {
    background: rgba(9,30,66,.08);
}

::-webkit-scrollbar-corner {
    background: transparent;
}