
.boards-page-bg{
    background-color: #fff;
    flex:1;
    
}

.main-boards{
    
    margin-left: rem(50px);
    margin-right: rem(50px);

    hr{
        margin-top:1rem;
    }
}

.title{

    &:first-child{

        margin-top: rem(60px);
    }
    margin-top: rem(40px);
    font-size: rem(50px);
    margin-bottom: 2rem;
}


.select-board-container{
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-right: 2px;
}

.search-board{
    border: 1px solid blue;
    border-radius: 7px;
    margin-bottom: 1rem;
    width: 200px;
}

.creat-new-board, .board {
    
    background-color: rgba(133, 231, 149, 0.863);
    box-shadow: 3px 3px #e0d8d8;
    
    height: 150px;
    min-width: 200px;
    margin: 4px;
    border-radius: 20px;
    font-size:rem(20px);

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-position: center;
    background-size: cover;

    

    span{
        color: #e0d8d8;
        text-transform: uppercase;
        font-family: 'Raleway', cursive;
        -webkit-text-stroke-width: 0.8px;
        -webkit-text-stroke-color: black;
    }
    

    
}


.coverflow__text__39hqd{
    display: none;
}

.coverflow__figure__3bk_C {
    box-shadow: none;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v{
    
    width: unset;
}