.board-container {
    position: relative;
    width: 100%;
    padding: 0 8px;
    background-color: rgba(0, 0, 0, 0);
    overflow-y: hidden;
    .proj-title {
        font-size: rem(24px);
        font-weight: bold;
        letter-spacing: 1.5px;
        vertical-align: baseline;
    }
    // input[type="text"] {}
    .board-nav-right {
        float: right;
    }
}

.board-nav-left>* {
    // margin-right: 4px;
}

.board-app {
    height: 100%;
    flex: 1;
}