.home {
    height: 90vh;
    width: 100%;
    background-color: #000;
    h1 {
        color: $clr3;
        font-size: em(48px);
        margin-bottom: em(32px);
        display: block;
        // position: relative;
        // top: 100px;
    }
    section {
        height: 100%;
    }
}