.toy-app {
    .main-toy-panel {
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(16px);
        & > *:not(:last-child) {
            margin-bottom: em(32px);
        }
        @include for-wide-layout {
            flex-direction: unset;
            & > *:not(:last-child) {
                margin-inline-end: em(32px);
                margin-bottom: unset;
            }
            a {
                align-self: flex-start;
            }
        }
    }
}
