.toy-edit {
    h1 {
        font-size: em(32px);
        margin-bottom: em(16px);
    }

    p{
        color: $clr6;
        font-size: em(14px);
    }

    form {
        > * {
            width: 280px;
        }

        > *:not(:last-child) {
            margin-bottom: em(16px);
        }
    }
    @include for-narrow-layout {
        form {
            > * {
                width: 500px;
            }
        }
    }
}
