// Colors
$clr1: #a9d6e5;
$clr2: #2c7da0;
$clr3: #212529;
$clr4: #fff;
$clr5: #a0a09ec0;
$clr6: #d62828;

//Box shadows
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 860px;