// Colors
$clr1: #a8e6cf;
$clr2: #dcedc1;
$clr3: #ffd3b6;
$clr4: #ffaaa5;
$clr5: #ff8b94;
$darktxt: black;
$lighttxt: white;
$trnsprnt: rgba(243, 234, 234, 0.733);
$hovergray: rgba(226, 226, 226, 0.76);
$bluebtn: #0079bf;
$memberClr: #dfe1e6;

//Box shadows
$boxShadow1: rgba(207, 217, 228, 0.2) 0px 8px 24px;
// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 860px;
