// Colors
$clr1: #a8e6cf;
$clr2: #dcedc1;
$clr3: #ffd3b6;
$clr4: #ffaaa5;
$clr5: #ff8b94;
$darktxt: black;
$ligntxt: white;
$trnsprnt: rgba(255, 255, 255, 0.678);
//Box shadows
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 860px;